<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nz.onlineMonitoring.realData.mapper.RealMeteorologicalMapper" >
    <resultMap id="BaseResultMap" type="com.nz.onlineMonitoring.realData.model.RealMeteorological" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="ms_code" property="ms_code" jdbcType="VARCHAR" />
        <result column="dev_code" property="dev_code" jdbcType="VARCHAR" />
        <result column="air_t" property="air_t" jdbcType="DOUBLE" />
        <result column="air_h" property="air_h" jdbcType="DOUBLE" />
        <result column="wind_s" property="wind_s" jdbcType="DOUBLE" />
        <result column="wind_d" property="wind_d" jdbcType="DOUBLE" />
        <result column="dew_p" property="dew_p" jdbcType="DOUBLE" />
        <result column="rain_f" property="rain_f" jdbcType="DOUBLE" />
        <result column="sunshine_h" property="sunshine_h" jdbcType="DOUBLE" />
        <result column="atmo_s" property="atmo_s" jdbcType="DOUBLE" />
        <result column="soil_t1" property="soil_t1" jdbcType="DOUBLE" />
        <result column="soil_t2" property="soil_t2" jdbcType="DOUBLE" />
        <result column="soil_t3" property="soil_t3" jdbcType="DOUBLE" />
        <result column="soil_h1" property="soil_h1" jdbcType="DOUBLE" />
        <result column="soil_h2" property="soil_h2" jdbcType="DOUBLE" />
        <result column="soil_h3" property="soil_h3" jdbcType="DOUBLE" />
        <result column="soil_ec" property="soil_ec" jdbcType="DOUBLE" />
        <result column="data_time" property="data_time" jdbcType="TIMESTAMP" />
        <result column="dev_status" property="dev_status" jdbcType="INTEGER" />
        <association column="dev_status" property="dataDevStatus" select="com.nz.onlineMonitoring.dict.mapper.DictMapper.loadByDevStatus"></association>
    </resultMap>
    <sql id="t_real_meteorological_columns" >
        id, ms_code, dev_code, air_t, air_h, wind_s, wind_d, dew_p, rain_f, sunshine_h, 
        atmo_s, soil_t1, soil_t2, soil_t3, soil_h1, soil_h2, soil_h3, soil_ec, data_time, dev_status
    </sql>
    <select id="load" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="t_real_meteorological_columns" />
        from t_real_meteorological
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="delete" parameterType="java.lang.Integer" >
        delete from t_real_meteorological
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="add" parameterType="com.nz.onlineMonitoring.realData.model.RealMeteorological" >
        insert into t_real_meteorological
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="ms_code != null" >
                ms_code,
            </if>
            <if test="dev_code != null" >
                dev_code,
            </if>
            <if test="air_t != null" >
                air_t,
            </if>
            <if test="air_h != null" >
                air_h,
            </if>
            <if test="wind_s != null" >
                wind_s,
            </if>
            <if test="wind_d != null" >
                wind_d,
            </if>
            <if test="dew_p != null" >
                dew_p,
            </if>
            <if test="rain_f != null" >
                rain_f,
            </if>
            <if test="sunshine_h != null" >
                sunshine_h,
            </if>
            <if test="atmo_s != null" >
                atmo_s,
            </if>
            <if test="soil_t1 != null" >
                soil_t1,
            </if>
            <if test="soil_t2 != null" >
                soil_t2,
            </if>
            <if test="soil_t3 != null" >
                soil_t3,
            </if>
            <if test="soil_h1 != null" >
                soil_h1,
            </if>
            <if test="soil_h2 != null" >
                soil_h2,
            </if>
            <if test="soil_h3 != null" >
                soil_h3,
            </if>
            <if test="soil_ec != null" >
                soil_ec,
            </if>
            <if test="data_time != null" >
                data_time,
            </if>
            <if test="dev_status != null" >
                dev_status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="ms_code != null" >
                #{ms_code,jdbcType=VARCHAR},
            </if>
            <if test="dev_code != null" >
                #{dev_code,jdbcType=VARCHAR},
            </if>
            <if test="air_t != null" >
                #{air_t,jdbcType=DOUBLE},
            </if>
            <if test="air_h != null" >
                #{air_h,jdbcType=DOUBLE},
            </if>
            <if test="wind_s != null" >
                #{wind_s,jdbcType=DOUBLE},
            </if>
            <if test="wind_d != null" >
                #{wind_d,jdbcType=DOUBLE},
            </if>
            <if test="dew_p != null" >
                #{dew_p,jdbcType=DOUBLE},
            </if>
            <if test="rain_f != null" >
                #{rain_f,jdbcType=DOUBLE},
            </if>
            <if test="sunshine_h != null" >
                #{sunshine_h,jdbcType=DOUBLE},
            </if>
            <if test="atmo_s != null" >
                #{atmo_s,jdbcType=DOUBLE},
            </if>
            <if test="soil_t1 != null" >
                #{soil_t1,jdbcType=DOUBLE},
            </if>
            <if test="soil_t2 != null" >
                #{soil_t2,jdbcType=DOUBLE},
            </if>
            <if test="soil_t3 != null" >
                #{soil_t3,jdbcType=DOUBLE},
            </if>
            <if test="soil_h1 != null" >
                #{soil_h1,jdbcType=DOUBLE},
            </if>
            <if test="soil_h2 != null" >
                #{soil_h2,jdbcType=DOUBLE},
            </if>
            <if test="soil_h3 != null" >
                #{soil_h3,jdbcType=DOUBLE},
            </if>
            <if test="soil_ec != null" >
                #{soil_ec,jdbcType=DOUBLE},
            </if>
            <if test="data_time != null" >
                #{data_time,jdbcType=TIMESTAMP},
            </if>
            <if test="dev_status != null" >
                #{dev_status,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="update" parameterType="com.nz.onlineMonitoring.realData.model.RealMeteorological" >
        update t_real_meteorological
        <set >
            <if test="ms_code != null" >
                ms_code = #{ms_code,jdbcType=VARCHAR},
            </if>
            <if test="dev_code != null" >
                dev_code = #{dev_code,jdbcType=VARCHAR},
            </if>
            <if test="air_t != null" >
                air_t = #{air_t,jdbcType=DOUBLE},
            </if>
            <if test="air_h != null" >
                air_h = #{air_h,jdbcType=DOUBLE},
            </if>
            <if test="wind_s != null" >
                wind_s = #{wind_s,jdbcType=DOUBLE},
            </if>
            <if test="wind_d != null" >
                wind_d = #{wind_d,jdbcType=DOUBLE},
            </if>
            <if test="dew_p != null" >
                dew_p = #{dew_p,jdbcType=DOUBLE},
            </if>
            <if test="rain_f != null" >
                rain_f = #{rain_f,jdbcType=DOUBLE},
            </if>
            <if test="sunshine_h != null" >
                sunshine_h = #{sunshine_h,jdbcType=DOUBLE},
            </if>
            <if test="atmo_s != null" >
                atmo_s = #{atmo_s,jdbcType=DOUBLE},
            </if>
            <if test="soil_t1 != null" >
                soil_t1 = #{soil_t1,jdbcType=DOUBLE},
            </if>
            <if test="soil_t2 != null" >
                soil_t2 = #{soil_t2,jdbcType=DOUBLE},
            </if>
            <if test="soil_t3 != null" >
                soil_t3 = #{soil_t3,jdbcType=DOUBLE},
            </if>
            <if test="soil_h1 != null" >
                soil_h1 = #{soil_h1,jdbcType=DOUBLE},
            </if>
            <if test="soil_h2 != null" >
                soil_h2 = #{soil_h2,jdbcType=DOUBLE},
            </if>
            <if test="soil_h3 != null" >
                soil_h3 = #{soil_h3,jdbcType=DOUBLE},
            </if>
            <if test="soil_ec != null" >
                soil_ec = #{soil_ec,jdbcType=DOUBLE},
            </if>
            <if test="data_time != null" >
                data_time = #{data_time,jdbcType=TIMESTAMP},
            </if>
            <if test="dev_status != null" >
                dev_status = #{dev_status,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
     <!-- 查询气象数据 -->
    <select id="listMeteorological" resultMap="BaseResultMap" parameterType="map">
        select 
        <include refid="t_real_meteorological_columns" />
        from t_real_meteorological
        <where>
            <!-- 最大时间 -->
            <!-- data_time = (select max(data_time) from t_real_meteorological) -->
            <!-- 监测站编码，例如输入济南，济南下所有监测站的气象数据都出来
                                                    传过来的位数不确定，看servic解析，然后与前面的匹配的就查出来                
             -->
            <if test="realMeteorological.ms_code != null and realMeteorological.ms_code != ''" >
                and ms_code like concat(#{realMeteorological.ms_code},"%")
            </if>
            <!-- 设备类型，即设备编码第5-6位 
                 realMeteorological.device_type传过来的数据是3位，包括一位对象，两位设备编码，以确保查询的准确性
                                                    前面3个，后面两个下划线
            -->
            <if test="realMeteorological.device_type != null and realMeteorological.device_type != ''" >
                and dev_code like concat("___",#{realMeteorological.device_type},"__")
            </if>
           <!--  设备监测对象，即设备编码第4位 ,传过来的是4位，例如dev1，后面4个下划线-->
            <if test="realMeteorological.device_object != null and realMeteorological.device_object != ''" >
                and dev_code like concat("___",#{realMeteorological.device_object},"____")
            </if>
            <!-- 设备运行状态 -->
            <if test="realMeteorological.dev_status != null and realMeteorological.dev_status != ''" >
                and dev_status = #{realMeteorological.dev_status}
            </if>
        </where>
        limit #{record},#{num}
    </select>
     <!-- 查询气象数据的数量 -->
    <select id="countMeteorological" resultType ="int" parameterType="map">
        select 
            count(*)
        from t_real_meteorological
        <where>
            <!-- 最大时间 -->
            <!-- data_time = (select max(data_time) from t_real_meteorological) -->
            <!-- 监测站编码，例如输入济南，济南下所有监测站的气象数据都出来
                                                    传过来的位数不确定，看servic解析，然后与前面的匹配的就查出来                
             -->
            <if test="realMeteorological.ms_code != null and realMeteorological.ms_code != ''" >
                and ms_code like concat(#{realMeteorological.ms_code},"%")
            </if>
            <!-- 设备类型，即设备编码第5-6位 
                 realMeteorological.device_type传过来的数据是3位，包括一位对象，两位设备编码，以确保查询的准确性
                                                    前面3个，后面两个下划线
            -->
            <if test="realMeteorological.device_type != null and realMeteorological.device_type != ''" >
                and dev_code like concat("___",#{realMeteorological.device_type},"__")
            </if>
           <!--  设备监测对象，即设备编码第4位 ,传过来的是4位，例如dev1，后面4个下划线-->
            <if test="realMeteorological.device_object != null and realMeteorological.device_object != ''" >
                and dev_code like concat("___",#{realMeteorological.device_object},"____")
            </if>
            <!-- 设备运行状态 -->
            <if test="realMeteorological.dev_status != null and realMeteorological.dev_status != ''" >
                and dev_status = #{realMeteorological.dev_status}
            </if>
        </where>
    </select>
    <!--查询设备实时数据-->
    <select id="loadByMsCodeAndDevCode" parameterType="map" resultMap="BaseResultMap">
        select
         <include refid="t_real_meteorological_columns" />
        from
         t_real_meteorological
        where
        ms_code = #{ms_code} and dev_code = #{dev_code}
    </select>
</mapper>