<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nz.onlineMonitoring.realData.mapper.RealMapper" >
    <resultMap id="BaseResultMap" type="com.nz.onlineMonitoring.realData.model.Real" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="ms_name" property="ms_name" jdbcType="VARCHAR" />
        <result column="ms_code" property="ms_code" jdbcType="VARCHAR" />
        <result column="dev_code" property="dev_code" jdbcType="VARCHAR" />
        <result column="real_data" property="real_data" jdbcType="VARCHAR" />
        <result column="real_time" property="real_time" jdbcType="TIMESTAMP" />
        <result column="dev_stauts" property="dev_stauts" jdbcType="INTEGER" />
      <!--   <association column="ms_code" property="ms_code_value" select=""></association>
        <association column="dev_code" property="dev_code_value" select=""></association>
        <association column="dev_stauts" property="dev_stauts_value" select=""></association> -->
    </resultMap>
    <sql id="t_real_columns" >
        id, ms_name, ms_code, dev_code, real_data, real_time, dev_stauts,dr
    </sql>
    <select id="load" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="t_real_columns" />
        from t_real
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="delete" parameterType="java.lang.Integer" >
        delete from t_real
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="add" parameterType="com.nz.onlineMonitoring.realData.model.Real" >
        insert into t_real
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="ms_name != null" >
                ms_name,
            </if>
            <if test="ms_code != null" >
                ms_code,
            </if>
            <if test="dev_code != null" >
                dev_code,
            </if>
            <if test="real_data != null" >
                real_data,
            </if>
            <if test="real_time != null" >
                real_time,
            </if>
            <if test="dev_stauts != null" >
                dev_stauts,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="ms_name != null" >
                #{ms_name,jdbcType=VARCHAR},
            </if>
            <if test="ms_code != null" >
                #{ms_code,jdbcType=VARCHAR},
            </if>
            <if test="dev_code != null" >
                #{dev_code,jdbcType=VARCHAR},
            </if>
            <if test="real_data != null" >
                #{real_data,jdbcType=VARCHAR},
            </if>
            <if test="real_time != null" >
                #{real_time,jdbcType=TIMESTAMP},
            </if>
            <if test="dev_stauts != null" >
                #{dev_stauts,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="update" parameterType="com.nz.onlineMonitoring.realData.model.Real" >
        update t_real
        <set >
            <if test="ms_name != null" >
                ms_name = #{ms_name,jdbcType=VARCHAR},
            </if>
            <if test="ms_code != null" >
                ms_code = #{ms_code,jdbcType=VARCHAR},
            </if>
            <if test="dev_code != null" >
                dev_code = #{dev_code,jdbcType=VARCHAR},
            </if>
            <if test="real_data != null" >
                real_data = #{real_data,jdbcType=VARCHAR},
            </if>
            <if test="real_time != null" >
                real_time = #{real_time,jdbcType=TIMESTAMP},
            </if>
            <if test="dev_stauts != null" >
                dev_stauts = #{dev_stauts,jdbcType=INTEGER},
            </if>
            <if test="dr != null" >
                dr = #{dr},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="listReal" resultMap="BaseResultMap" parameterType="map">
        select 
        <include refid="t_real_columns" />
        from t_real
        <where>
            <if test="real.ms_name != null and real.ms_name != ''" >
                ms_name like concat("%",#{real.ms_name},"%")
            </if>
            <if test="real.ms_code != null and real.ms_code != ''" >
                and ms_code like concat(#{real.ms_code},"%")
            </if>
            <if test="real.device_type != null and real.device_type != ''" >
                and dev_code like concat("%",#{real.device_type})
            </if>
            <if test="real.device_object != null and real.device_object != ''" >
                and dev_code like concat(#{real.device_object},"%")
            </if>
            <if test="real.dev_stauts != null and real.dev_stauts != ''" >
                and dev_stauts = #{real.dev_stauts}
            </if>
        </where>
    </select>
</mapper>