<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nz.onlineMonitoring.stationInfo.mapper.StationMapper" >
    <resultMap id="BaseResultMap" type="com.nz.onlineMonitoring.stationInfo.model.Station" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="ms_name" property="ms_name" jdbcType="VARCHAR" />
        <result column="ms_code" property="ms_code" jdbcType="VARCHAR" />
        <result column="ms_date" property="ms_date" jdbcType="DATE" />
        <result column="ms_dev" property="ms_dev" jdbcType="VARCHAR" />
        <result column="ms_type" property="ms_type" jdbcType="INTEGER" />
        <result column="ms_fp" property="ms_fp" jdbcType="INTEGER" />
        <result column="ms_place" property="ms_place" jdbcType="VARCHAR" />
        <result column="ms_user" property="ms_user" jdbcType="VARCHAR" />
        <result column="ms_builder" property="ms_builder" jdbcType="VARCHAR" />
        <result column="ms_net" property="ms_net" jdbcType="INTEGER" />
        <result column="ms_gate" property="ms_gate" jdbcType="INTEGER" />
        <result column="ms_desc" property="ms_desc" jdbcType="VARCHAR" />
        <association property="dict" column="ms_type" select="com.nz.onlineMonitoring.dict.mapper.DictMapper.loadByDataValue"></association>
        <association property="ms_type_value" column="ms_type" select="com.nz.onlineMonitoring.dict.mapper.DictMapper.loadType"></association>
        <association property="ms_fp_value" column="ms_fp" select="com.nz.onlineMonitoring.dict.mapper.DictMapper.loadFp"></association>
        <association property="ms_net_value" column="ms_net" select="com.nz.onlineMonitoring.dict.mapper.DictMapper.loadNet"></association>
        <association property="ms_gate_value" column="ms_gate" select="com.nz.onlineMonitoring.dict.mapper.DictMapper.loadGate"></association>
    </resultMap>
    <resultMap id="BaseResultMap01" type="com.nz.onlineMonitoring.stationInfo.model.Station" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="ms_name" property="ms_name" jdbcType="VARCHAR" />
        <result column="ms_code" property="ms_code" jdbcType="VARCHAR" />
        <result column="ms_date" property="ms_date" jdbcType="DATE" />
        <result column="ms_dev" property="ms_dev" jdbcType="VARCHAR" />
        <result column="ms_type" property="ms_type" jdbcType="INTEGER" />
        <result column="ms_fp" property="ms_fp" jdbcType="INTEGER" />
        <result column="ms_place" property="ms_place" jdbcType="VARCHAR" />
        <result column="ms_user" property="ms_user" jdbcType="VARCHAR" />
        <result column="ms_builder" property="ms_builder" jdbcType="VARCHAR" />
        <result column="ms_net" property="ms_net" jdbcType="INTEGER" />
        <result column="ms_gate" property="ms_gate" jdbcType="INTEGER" />
        <result column="ms_desc" property="ms_desc" jdbcType="VARCHAR" />
        <association property="ms_type_value" column="ms_type" select="com.nz.onlineMonitoring.dict.mapper.DictMapper.loadType"></association>
        <association property="ms_fp_value" column="ms_fp" select="com.nz.onlineMonitoring.dict.mapper.DictMapper.loadFp"></association>
        <association property="ms_net_value" column="ms_net" select="com.nz.onlineMonitoring.dict.mapper.DictMapper.loadNet"></association>
        <association property="ms_gate_value" column="ms_gate" select="com.nz.onlineMonitoring.dict.mapper.DictMapper.loadGate"></association>
    </resultMap>
    <sql id="t_station_columns" >
        id, ms_name, ms_code, ms_date, ms_dev, ms_type, ms_fp, ms_place, ms_longitude,ms_latitude, ms_user, 
        ms_builder, ms_net, ms_gate, ms_desc
    </sql>
    <select id="load" resultMap="BaseResultMap01" parameterType="java.lang.Integer" >
        select 
        <include refid="t_station_columns" />
        from t_station
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="loadByMscode" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="t_station_columns" />
        from t_station
        where ms_code = #{ms_code,jdbcType=INTEGER}
    </select>
    <delete id="delete" parameterType="java.lang.Integer" >
        delete from t_station
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="add" parameterType="com.nz.onlineMonitoring.stationInfo.model.Station" >
        insert into t_station
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="ms_name != null" >
                ms_name,
            </if>
            <if test="ms_code != null" >
                ms_code,
            </if>
            <if test="ms_date != null" >
                ms_date,
            </if>
            <if test="ms_dev != null" >
                ms_dev,
            </if>
            <if test="ms_type != null" >
                ms_type,
            </if>
            <if test="ms_fp != null" >
                ms_fp,
            </if>
            <if test="ms_place != null" >
                ms_place,
            </if>
            <if test="ms_user != null" >
                ms_user,
            </if>
            <if test="ms_builder != null" >
                ms_builder,
            </if>
            <if test="ms_net != null" >
                ms_net,
            </if>
            <if test="ms_gate != null" >
                ms_gate,
            </if>
            <if test="ms_desc != null" >
                ms_desc,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="ms_name != null" >
                #{ms_name,jdbcType=VARCHAR},
            </if>
            <if test="ms_code != null" >
                #{ms_code,jdbcType=VARCHAR},
            </if>
            <if test="ms_date != null" >
                #{ms_date,jdbcType=DATE},
            </if>
            <if test="ms_dev != null" >
                #{ms_dev,jdbcType=VARCHAR},
            </if>
            <if test="ms_type != null" >
                #{ms_type,jdbcType=INTEGER},
            </if>
            <if test="ms_fp != null" >
                #{ms_fp,jdbcType=INTEGER},
            </if>
            <if test="ms_place != null" >
                #{ms_place,jdbcType=VARCHAR},
            </if>
            <if test="ms_user != null" >
                #{ms_user,jdbcType=VARCHAR},
            </if>
            <if test="ms_builder != null" >
                #{ms_builder,jdbcType=VARCHAR},
            </if>
            <if test="ms_net != null" >
                #{ms_net,jdbcType=INTEGER},
            </if>
            <if test="ms_gate != null" >
                #{ms_gate,jdbcType=INTEGER},
            </if>
            <if test="ms_desc != null" >
                #{ms_desc,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="update" parameterType="com.nz.onlineMonitoring.stationInfo.model.Station" >
        update t_station
        <set >
            <if test="ms_name != null" >
                ms_name = #{ms_name,jdbcType=VARCHAR},
            </if>
            <if test="ms_code != null" >
                ms_code = #{ms_code,jdbcType=VARCHAR},
            </if>
            <if test="ms_date != null" >
                ms_date = #{ms_date,jdbcType=DATE},
            </if>
            <if test="ms_dev != null" >
                ms_dev = #{ms_dev,jdbcType=VARCHAR},
            </if>
            <if test="ms_type != null" >
                ms_type = #{ms_type,jdbcType=INTEGER},
            </if>
            <if test="ms_fp != null" >
                ms_fp = #{ms_fp,jdbcType=INTEGER},
            </if>
            <if test="ms_place != null" >
                ms_place = #{ms_place,jdbcType=VARCHAR},
            </if>
            <if test="ms_user != null" >
                ms_user = #{ms_user,jdbcType=VARCHAR},
            </if>
            <if test="ms_builder != null" >
                ms_builder = #{ms_builder,jdbcType=VARCHAR},
            </if>
            <if test="ms_net != null" >
                ms_net = #{ms_net,jdbcType=INTEGER},
            </if>
            <if test="ms_gate != null" >
                ms_gate = #{ms_gate,jdbcType=INTEGER},
            </if>
            <if test="ms_desc != null" >
                ms_desc = #{ms_desc,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="listStation" resultMap="BaseResultMap01" parameterType="map">
        select 
        <include refid="t_station_columns" />
        from t_station
        <where>
            <!-- 监测站名字  -->
            <if test="station.ms_name != null and station.ms_name != ''" >
                ms_name like concat("%",#{station.ms_name},"%")
            </if>
            <!-- 监测站编码，例如输入济南，济南下所有监测站的实时数据都出来
                                                    传过来的位数不确定，看servic解析，然后与前面的匹配的就查出来                
             -->
            <if test="station.ms_code != null and station.ms_code != ''" >
                and ms_code like concat(#{station.ms_code},"%")
            </if>
            <!-- 根据资金类型 -->
            <if test="station.ms_fp != null and station.ms_fp != ''" >
                and ms_fp = #{station.ms_fp}
            </if>
            <!--  监测站类型-->
            <if test="station.ms_type != null and station.ms_type != ''" >
                and ms_type = #{station.ms_type}
            </if>
            <!-- 网关类型 -->
            <if test="station.ms_gate != null and station.ms_gate != ''" >
                and ms_gate = #{station.ms_gate}
            </if>
        </where>
        limit #{record},10
    </select>
    <select id="countStation" resultType ="int" parameterType="map">
        select 
            count(*)
        from t_station
        <where>
            <!-- 监测站名字  -->
            <if test="station.ms_name != null and station.ms_name != ''" >
                ms_name like concat("%",#{station.ms_name},"%")
            </if>
            <!-- 监测站编码，例如输入济南，济南下所有监测站的实时数据都出来
                                                    传过来的位数不确定，看servic解析，然后与前面的匹配的就查出来                
             -->
            <if test="station.ms_code != null and station.ms_code != ''" >
                and ms_code like concat(#{station.ms_code},"%")
            </if>
            <!-- 根据资金类型 -->
            <if test="station.ms_fp != null and station.ms_fp != ''" >
                and ms_fp = #{station.ms_fp}
            </if>
           <!--  监测站类型-->
            <if test="station.ms_type != null and station.ms_type != ''" >
                and ms_type = #{station.ms_type}
            </if>
            <!-- 网关类型 -->
            <if test="station.ms_gate != null and station.ms_gate != ''" >
                and ms_gate = #{station.ms_gate}
            </if>
        </where>
    </select>
    <select id="existMsCode" resultType ="int" parameterType="java.lang.String">
        select 
            count(*)
        from t_station where ms_code = #{ms_code}
    </select>
</mapper>