<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nz.onlineMonitoring.model.mapper.UserMapper">
    <resultMap type="com.nz.onlineMonitoring.model.User" id="UserBaseResultMap"/>
    <select id="userList" parameterType="map" resultMap="UserBaseResultMap">
        SELECT * FROM user
    </select>
</mapper>