<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nz.onlineMonitoring.view.mapper.VDevStatusMapper" >
    <resultMap id="BaseResultMap" type="com.nz.onlineMonitoring.view.model.VDevStatus" >
        <result column="ms_name" property="ms_name" jdbcType="VARCHAR" />
        <result column="ms_code" property="ms_code" jdbcType="VARCHAR" />
        <result column="dev_code" property="dev_code" jdbcType="VARCHAR" />
        <result column="dev_type" property="dev_type" jdbcType="INTEGER" />
        <result column="dev_factory" property="dev_factory" jdbcType="INTEGER" />
        <result column="data_time" property="data_time" jdbcType="INTEGER" />
        <result column="dev_status" property="dev_status" jdbcType="INTEGER" />
        <association property="dataDevStatus" column="dev_status" select="com.nz.onlineMonitoring.dict.mapper.DictMapper.loadByDevStatus"/>
        <association property="dataDevType" column="dev_type" select="com.nz.onlineMonitoring.dict.mapper.DictMapper.loadByDevType1"/>
        <association property="dataDevFactory" column="dev_factory" select="com.nz.onlineMonitoring.dict.mapper.DictMapper.loadByDevfactory"/>
    </resultMap>
    <select id="deviceStatusList" parameterType="map" resultMap="BaseResultMap">
        select
            <choose>
                <when test="vdevstatus.controller_ms_code == null or vdevstatus.controller_ms_code == ''">
                    ms_code
                </when>
                <otherwise>
                    *
                </otherwise>
            </choose>
        from
          v_dev_status
        <where>
            <if test="vdevstatus.ms_code!=null and vdevstatus.ms_code!=''">
                AND ms_code LIKE concat("%",#{vdevstatus.ms_code},"%")
            </if>
            <if test="vdevstatus.dev_code!=null and vdevstatus.dev_code!=''">
                AND dev_code LIKE concat("%",#{vdevstatus.dev_code},"%")
            </if>
            <if test="vdevstatus.dev_type!=null and vdevstatus.dev_type!=''">
                AND dev_type = #{vdevstatus.dev_type}
            </if>
            <if test="vdevstatus.controller_ms_code != null and vdevstatus.controller_ms_code != ''">
                AND ms_code = #{vdevstatus.controller_ms_code}
            </if>
        </where>
        <choose>
            <when test="vdevstatus.controller_ms_code == null or vdevstatus.controller_ms_code == ''">
                group by ms_code LIMIT #{record},15
            </when>
            <otherwise>
                LIMIT #{record},15
            </otherwise>
        </choose>
    </select>
    <!--共有多少记录-->
    <select id="count" parameterType="map" resultType="integer">
        select
        <choose>
            <when test="vdevstatus.controller_ms_code == null or vdevstatus.controller_ms_code == ''">
                count(distinct ms_code)
            </when>
            <otherwise>
                count(*)
            </otherwise>
        </choose>
        from
          v_dev_status
        <where>
            <if test="vdevstatus.ms_code!=null and vdevstatus.ms_code!=''">
                AND ms_code LIKE concat("%",#{vdevstatus.ms_code},"%")
            </if>
            <if test="vdevstatus.dev_code!=null and vdevstatus.dev_code!=''">
                AND dev_code LIKE concat("%",#{vdevstatus.dev_code},"%")
            </if>
            <if test="vdevstatus.dev_type!=null and vdevstatus.dev_type!=''">
                AND dev_type = #{vdevstatus.dev_type}
            </if>
            <if test="vdevstatus.controller_ms_code != null and vdevstatus.controller_ms_code != ''">
                AND ms_code = #{vdevstatus.controller_ms_code}
            </if>
        </where>
    </select>
</mapper>