
*{ list-style:none; text-decoration:none; padding:0; margin:0; border:none;}
body{ background:#1c8914;}

#tit{ width:100%; height:93px; background:url(../img/tit.jpg) no-repeat; background-size:cover; border-bottom:7px #1bb11c solid;}
#tit p{ width:41%; height:93px; float:left; line-height:93px; font-size:2.1em; margin-left:3%;color:#006600; font-weight:bold;  font-family: '宋体';}
#tit ul{ width:28%; height:93px; float:left; margin-left:24%;}
#tit ul li{ width:91%; height:30px; margin-top:20px; line-height:30px; font-size:0.75em; color:#FFF; float:left; overflow:hidden;}
#tit ul li .three{ width:90%; margin-left:5%; height:32px;}
#tit ul li .three a{ width:23%; float:left; margin-top:0px; height:32px; line-height:32px; color:#FFF;}
#tit ul li .three a img{ margin-top:5px; float:left; max-width: 100%;}
#tit ul li .three a:hover{ color:#F00;}


#caidan{ width:15%; height:600px; background:#eaeaea; margin-top:3px; margin-left:0.5%; float:left;}
#caidan ul{ width:100%;}
#caidan ul .tit{ height:30px; background:url(../img/gl.jpg); font-size:0.8em; color:#FFF; line-height:30px;}
#caidan ul .tit img{ margin-left:4.6%; margin-top:9px; float:left; max-width: 100%;}

#caidan ul .cdq{ height:37px; width:100%; background:url(../img/cdq.jpg);}
#caidan ul .cdq img{ margin-left:2.9%; margin-top:9px; width:8.4%; float:left; max-width: 100%;}
#caidan ul .cdq a{ line-height:37px; width:63%; float:left; margin-left:4%; color:#5a5a5b; font-size:0.75em;}

#caidan ul .cd_4{ width:100%;}
#caidan ul .cd_4 ul li .a_1{ height:33px; background:url(../img/cdbg.jpg); display:block; margin-top:3px; font-size:0.75em; color:#FFF; line-height:33px; overflow:hidden;}
#caidan ul .cd_4 ul li .a_1 img{ margin-left:6.3%; margin-top:8px; float:left; max-width: 100%;}
#caidan ul .cd_4 ul li .zdgl{ width:100%; background:#FFF;}
#caidan ul .cd_4 ul li .zdgl .a_2{ width:100%; height:27px; font-size:12px; line-height:27px; display:block; margin-top:0px; color:#000; background:#eaeaea; overflow:hidden;}
#caidan ul .cd_4 ul li .zdgl .a_2:hover{ background:#d7dce2;}
#caidan ul .cd_4 ul li .zdgl .a_2 img{ margin-left:7%; margin-top:9px; float:left;}
#caidan ul .cd_4 .zdgl .ul .a_3{ width:100%; height:27px; background:#eaeaea; display:block;}


#content_r{ width:84%; height:600px; margin-left:16%; position: relative; background:#eaeaea; margin-top: 3px}
#content_r h5{
    margin-left: 2%;
    margin-top: 20px;
    margin-bottom: 10px;
    color:#707d83;
}
#content_r .tit{ width:100%; height:40px; border-bottom: 1px solid #cccccc;}
#content_r .tit .xx{ float:left; margin-top:8px; margin-left:1%; font-size:12px; height:20px; line-height:20px;}
#content_r .tit .xx img{ margin-top:0px; float:left;}
#content_r .menu{width: 99%; height: 90px;  padding-left:1%; border-bottom: 1px solid #cccccc; position: relative;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+47,ededed+100;White+3D+%231 */
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

}
#content_r .menu form span{width: 15%; font-size: 12px; color: #595959;margin-top:10px; margin-left: 3%;}
#content_r .menu form input{width: 10%; height: 20px; border: 1px solid #bfbfbf;margin-top:10px; border-radius: 5px;}
#content_r .menu form select{width: 11% !important ;  border: 1px solid #cccccc; height: 20px; border-radius: 3px; margin-top:10px; }
#content_r .menu .search{width: 6%; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
    background: rgb(238,238,238); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
    text-align: center;
    position: absolute;
    top: 0px;
    left: 83%;
    height: 30px;

}
#content_r .menu .reset{width: 6%; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
    background: rgb(238,238,238); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
    text-align: center;
    height: 30px;
    position: absolute;
    top: 0px;
    left: 92%;
}

#content_r .menu  select{width: 8% !important ;  border: 1px solid #cccccc; height: 20px; border-radius: 3px; margin-top: 3px; }
#content_r .title{font-size: 16px; margin-left: 2%;color: #646464;}
/*#content_r .search{ background:#d6e3d2; width:18%; height:33px; border-radius:6px; outline:none; margin-top:10px; margin-left:2%; color:#33b652;}*/
#content_r table{margin-left: 2%; width: 95%; font-size: 0.75em;}
#content_r table thead tr{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f5f6+0,e3eaed+37,c8d7dc+100;Grey+3D+%234 */
    background: rgb(242,245,246); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(242,245,246,1) 0%, rgba(227,234,237,1) 37%, rgba(200,215,220,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* IE6-9 */

    color:#707d83;height: 35px;text-align: center; }
#content_r table tr{color:#707d83;height: 30px;text-align: center; background: #EEF4F9;}
#content_r table .t1{width: 12%;}
#content_r table .t2{width: 12%;}
#content_r table .t3{width: 11%;}
#content_r table .t4{width: 11%;}
#content_r table .t5{width: 11%;}
#content_r table .t6{width: 9%;}
#content_r input{background: none; }
#del{color: #da0000}
#update{color: #269dc9}

#content_r .but{  width:80%; height:27px; margin-left:1%; margin-top:20px; font-size:12px; line-height:27px; text-align:center; float: left;}


#footer{ width:100%; height:26px; float:left; background:#1b8a14;}
#footer li{ text-align:center; line-height:26px; font-size:0.75em;}
#footer li a{ color:#000;}
#footer li a:hover{ color:#F00;}
#page {
    height: 30px;
    display: table;
    margin-left: 55%;
    margin-top: 10px;
}
.page {
    text-align: center;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.pagingUl {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    height: 30px;
}
.pagingUl li {
    float: left;
    width: 30px;
    height: 30px;
    background: #fff;
    text-align: center;
    margin-right: 5px;
    border-radius: 5px
}
.pagingUl li a {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 28px;
    color: #666;
    font-size: 12px;
    border-radius: 5px
}
.prv,
.next {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    background: #fff;
    padding: 0 5px;
    border-radius: 5px;
}
.prv {
    margin-right: 10px;
}
.first,
.last {
    width: 30px;
    height: 30px;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    /*border: 1px solid #ddd;*/
    cursor: pointer;
    background: #fff;
    padding: 0 5px;
    border-radius: 5px;
    margin-right: 10px;
}
.prv:hover,
.next:hover,
.first:hover,
.last:hover,
.pagingUl li a:hover,
.activP {
    background-color: #d7dce2!important;

}
#content_r #img{position: absolute; top: 100px; margin-left: 20%; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9fcf7+0,f5f9f0+100;L+Green+3D */
    background: rgb(249,252,247); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(249,252,247,1) 0%, rgba(245,249,240,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(249,252,247,1) 0%,rgba(245,249,240,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(249,252,247,1) 0%,rgba(245,249,240,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fcf7', endColorstr='#f5f9f0',GradientType=0 ); /* IE6-9 */
    width: 50%; height: 500px;box-shadow: 10px 10px 5px #888888; border: 1px solid #cccccc;}
#content_r #img #imga{ width: 97%;margin-left: 3%;margin-top: 20px; height: 400px; overflow-y: scroll;}
#content_r #img form{margin-left: 30%; width: 60%; height: 30px; margin-top: 10px;  }
#content_r #img input{margin-left:2%; width: 15%; height: 30px; margin-top: 10px; border: 1px solid #bfbfbf; border-radius: 5px; }
#weather table tr td{width: 25%; height: 33px; line-height: 33px; }

#weather{width: 70%; margin-left: 3%;float: left; display: none; }
#weather table{margin-left: 15%; margin-top: 5px;border: 1px solid #bfbfbf;width: 100%; border-right:1px #b9b9b9 solid; box-shadow: 10px 10px 5px #888888; }


#weather form{margin-left: 35%;float: left; margin-top: 15px; width: 100%;}
#weather form input{background: #FFFFFF; border:1px solid #bfbfbf; border-radius: 4px; width:10%;height: 32px; margin-left:25%;}F