*{ list-style:none; text-decoration:none; padding:0; margin:0; border:none;}
a{ text-decoration: none;}


#tit{ width:100%; height:93px; background:url(../img/tit.jpg) no-repeat; background-size:cover; border-bottom:7px #1bb11c solid;}
#tit p{ width:41%; height:93px; float:left; line-height:93px; font-size:2.1em; margin-left:3%; color:#3d9d18; font-weight:bold; text-shadow:4px 2px 3px #ffffff; font-family: '����';}

#tit ul{ width:28%; height:93px; float:left; margin-left:24%;}
#tit ul li{ width:91%; height:30px; margin-top:20px; line-height:30px; font-size:0.75em; color:#FFF; float:left; overflow:hidden;}
#tit ul li .three{ width:90%; margin-left:8%; height:32px;}
#tit ul li .three a{ width:28%; float:left; margin-top:0px; height:32px; line-height:32px; color:#FFF;}
#tit ul li .three a img{ margin-top:5px; float:left; max-width: 100%;}
#tit ul li .three a:hover{ color:#F00;}


#caidan{ width:15%; height:1020px; background:#eaeaea; margin-top:3px; margin-left:0.5%; float:left;}
#caidan ul{ width:100%;}
#caidan ul .tit{ height:30px; background:url(../img/gl.jpg) no-repeat; font-size:0.8em; color:#FFF; line-height:30px;}
#caidan ul .tit img{ margin-left:4.6%; margin-top:9px; float:left; max-width: 100%;}

#caidan ul .cdq{ height:37px; width:100%; background:url(../img/cdq.jpg);}
#caidan ul .cdq img{ margin-left:2.9%; margin-top:9px; width:8.4%; float:left; max-width: 100%;}
#caidan ul .cdq a{ line-height:37px; width:63%; float:left; margin-left:4%; color:#5a5a5b; font-size:0.75em;}

#caidan ul .cd_4{ width:100%;}
#caidan ul .cd_4 ul li .a_1{ height:33px; background:url(../img/cdbg.jpg) no-repeat; display:block; margin-top:3px; font-size:0.75em; color:#FFF; line-height:33px; overflow:hidden;}
#caidan ul .cd_4 ul li .a_1 img{ margin-left:6.3%; margin-top:8px; float:left; max-width: 100%;}
#caidan ul .cd_4 ul li .zdgl{ width:100%; background:#FFF;}
#caidan ul .cd_4 ul li .zdgl .a_2{ width:100%; height:27px; font-size:12px; line-height:27px; display:block; margin-top:0px; color:#000; background:#eaeaea; overflow:hidden;}
#caidan ul .cd_4 ul li .zdgl .a_2:hover{ background:#d7dce2;}
#caidan ul .cd_4 ul li .zdgl .a_2 img{ margin-left:7%; margin-top:9px; float:left;}
#caidan ul .cd_4 .zdgl .ul .a_3{ width:100%; height:27px; background:#eaeaea; display:block;}


#content_r{ width:84%;  margin-left:16%; position: relative;}
#content_r .tit{ width:100%; height:40px; background:#bfd1c3;}
#content_r .tit .xx{ float:left; margin-top:8px; margin-left:1%; font-size:12px; height:20px; line-height:20px;}
#content_r .tit .xx img{ margin-top:0px; float:left;}
#content_r .gn{  width: 100%; height: 184px;  }
#content_r .gn form span{font-size: 14px; color: #000000; font-weight: bolder; margin-top: 37px; margin-left: 5%;float: left; width: 27%;}
#content_r .gn form input{height: 40px; width: 50%; border: 1px solid #c6c5c5; margin-right: 10%; text-align: center; border-radius: 5px;}
#content_r .gn form .cx{width: 10%; background:#1c8735; color: #FFFFFF; float: left; margin-right: 0; margin-top: 37px; margin-left: 2%; border-radius: 5px; }
#content_r  .btn1{width: 13%!important;height: 44px; background: #4c9d5f url("../img/coin1.jpg") no-repeat 8px 8px; border-radius: 2px; border: 1px solid #bfbfbf; color: #FFFFFF; float: left; margin:37px 0 0 1%;}
#content_r .menu{width: 90%; height: 159px;}
#content_r .menu span{width: 30%; font-size: 12px; color: #595959;margin:10px 0 0 5%;}
#content_r .menu input{width: 30%; height: 30px; border: 1px solid #bfbfbf;margin:10px 0 0 1%; border-radius: 5px;}
#content_r .menu .search{width: 5%; background: #3497db;  text-align: center; color: #ffffff; margin-left: 40%; margin-top: 20px;}
#content_r .menu .reset{width: 5%; background: #f98e1a; text-align: center; color: #ffffff;margin-top: 20px;}
#content_r .title{font-size: 16px; margin-left: 2%;color: #646464; margin-top: 10px;}
#content_r .menu span select{width: 14.3% !important ; margin-right: 1%; border: 1px solid #bfbfbf; height: 40px; border-radius: 3px; margin-top: 3px;}
#content_r .menu span .select1{width: 30% !important;}


#content_r table{margin-left: 2%; width: 98%;}
#content_r table thead tr{background: #bee2f4; color:#707d83;height: 42px;text-align: center; }
#content_r table tr{color:#707d83;height: 42px;text-align: center;}
#content_r table .t1{width: 5%;}
#content_r table .t2{width: 15%;}
#content_r table .t3{width: 15%;}
#content_r table .t4{width: 12%;}
#content_r table .t5{width: 17%;}
#content_r table .t6{width: 8%;}
#content_r table .t7{width: 10%;}
#content_r table input{background: none}


#footer{ width:100%; height:26px; float:left; background:#1b8a14; margin-top: 3px;}
#footer li{ text-align:center; line-height:26px; font-size:0.75em;}
#footer li a{ color:#000;}
#footer li a:hover{ color:#F00;}
#page {
    height: 30px;
    display: table;
    margin-left: 55%;
    margin-top: 10px;
}
.page {
    text-align: center;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.pagingUl {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    height: 30px;
}
.pagingUl li {
    float: left;
    width: 30px;
    height: 30px;
    background: #fff;
    text-align: center;
    margin-right: 5px;
    border-radius: 5px
}
.pagingUl li a {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 28px;
    color: #666;
    font-size: 12px;
    border-radius: 5px
}
.prv,
.next {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    background: #fff;
    padding: 0 5px;
    border-radius: 5px;
}
.prv {
    margin-right: 10px;
}
.first,
.last {
    width: 30px;
    height: 30px;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    /*border: 1px solid #ddd;*/
    cursor: pointer;
    background: #fff;
    padding: 0 5px;
    border-radius: 5px;
    margin-right: 10px;
}
.prv:hover,
.next:hover,
.first:hover,
.last:hover,
.pagingUl li a:hover,
.activP {
    background-color: #4c9d5f!important;
    color: #fff!important;
}
