
*{ list-style:none; text-decoration:none; padding:0; margin:0; border:none;}


#tit{ width:100%; height:93px; background:url(../img/tit.jpg) no-repeat; background-size:cover; border-bottom:7px #1bb11c solid;}
#tit p{ width:41%; height:93px; float:left; line-height:93px; font-size:2.1em; margin-left:3%; color:#3d9d18; font-weight:bold; text-shadow:4px 2px 3px #ffffff; font-family: '宋体';}

#tit ul{ width:28%; height:93px; float:left; margin-left:24%;}
#tit ul li{ width:91%; height:30px; margin-top:20px; line-height:30px; font-size:0.75em; color:#FFF; float:left; overflow:hidden;}
#tit ul li .three{ width:90%; margin-left:8%; height:32px;}
#tit ul li .three a{ width:28%; float:left; margin-top:0px; height:32px; line-height:32px; color:#FFF;}
#tit ul li .three a img{ margin-top:5px; float:left; max-width: 100%;}
#tit ul li .three a:hover{ color:#F00;}


#caidan{ width:15%; height:800px; background:#eaeaea; margin-top:3px; margin-left:0.5%; float:left;}
#caidan ul{ width:100%;}
#caidan ul .tit{ height:30px; background:url(../img/gl.jpg); font-size:0.8em; color:#FFF; line-height:30px;}
#caidan ul .tit img{ margin-left:4.6%; margin-top:9px; float:left; max-width: 100%;}

#caidan ul .cdq{ height:37px; width:100%; background:url(../img/cdq.jpg);}
#caidan ul .cdq img{ margin-left:2.9%; margin-top:9px; width:8.4%; float:left; max-width: 100%;}
#caidan ul .cdq a{ line-height:37px; width:63%; float:left; margin-left:4%; color:#5a5a5b; font-size:0.75em;}

#caidan ul .cd_4{ width:100%;}
#caidan ul .cd_4 ul li .a_1{ height:33px; background:url(../img/cdbg.jpg); display:block; margin-top:3px; font-size:0.75em; color:#FFF; line-height:33px; overflow:hidden;}
#caidan ul .cd_4 ul li .a_1 img{ margin-left:6.3%; margin-top:8px; float:left; max-width: 100%;}
#caidan ul .cd_4 ul li .zdgl{ width:100%; background:#FFF;}
#caidan ul .cd_4 ul li .zdgl .a_2{ width:100%; height:27px; font-size:12px; line-height:27px; display:block; margin-top:0px; color:#000; background:#eaeaea; overflow:hidden;}
#caidan ul .cd_4 ul li .zdgl .a_2:hover{ background:#d7dce2;}
#caidan ul .cd_4 ul li .zdgl .a_2 img{ margin-left:7%; margin-top:9px; float:left;}
#caidan ul .cd_4 .zdgl .ul .a_3{ width:100%; height:27px; background:#eaeaea; display:block;}


#content_r{ width:84%; height:715px; margin-left:16%; position: relative;}
#content_r .tit{ width:100%; height:40px; background:#bfd1c3;}
#content_r .tit .xx{ float:left; margin-top:8px; margin-left:1%; font-size:12px; height:20px; line-height:20px;}
#content_r .tit .xx img{ margin-top:0px; float:left;}
#content_r .menu{width: 90%; height:149px;}
#content_r .menu span{width: 30%; font-size: 12px; color: #595959;margin:10px 0 0 5%;}
#content_r .menu input{width: 20%; height: 30px; border: 1px solid #bfbfbf;margin:10px 0 0 1%; border-radius: 5px;}
#content_r .menu .search{width: 5%; background: #3497db;  text-align: center; color: #ffffff; margin-left: 40%; margin-top: 20px;}
#content_r .menu .reset{width: 5%; background: #f98e1a; text-align: center; color: #ffffff;margin-top: 20px;}
#content_r .title{font-size: 16px; margin-left: 2%;color: #646464;}
#content_r .menu span select{width: 9.5% !important ; margin-right: 1%; border: 1px solid #bfbfbf; height: 40px; border-radius: 3px; margin-top: 3px;}
#content_r .menu span .select1{width: 20% !important;}
#content_r .search{ background:#d6e3d2; width:18%; height:33px; border-radius:6px; outline:none; margin-top:10px; margin-left:2%; color:#33b652;}
#content_r table{width: 96%; float: left; height: 440px; margin-left: 2%;  margin-bottom: 10px; border-collapse:collapse;}
#content_r table tbody .tr1{ border-bottom: 1px solid #adadad; width: 100%; height: 48px; }
#content_r table tbody{font-size: 12px; line-height: 48px; color: #4e4f4f;}
#content_r .name{ width:100%; margin-top:10px; height:48px; background:#bee2f4; margin-left:2%; font-size:12px; color:#4e4f4f; text-align:center; line-height:48px; overflow:hidden; !important;}
#content_r .name .t1{ width:15%;  float:left; height:48px; text-align: center; }
#content_r .name .t2{ width:19%;  float:left; height:48px;  text-align: center;  }
#content_r .name .t3{ width:15%;  float:left; height:48px;  text-align: center;  }
#content_r .name .t4{ width:15%; float:left; height:48px;  text-align: center;  }
#content_r .name .t5{ width:20%;  float:left; height:48px;  text-align: center;  }
#content_r .name .t6{ width:6.8%;  float:left; height:48px;  text-align: center; }
#content_r  .t1{ width:15%;  float:left; height:48px; text-align: center; line-height: 48px;  }
#content_r  .t2{ width:19%;  float:left; height:48px;  text-align: center;line-height: 48px; }
#content_r  .t3{ width:15%;  float:left; height:48px;  text-align: center;line-height: 48px; }
#content_r  .t4{ width:15%; float:left; height:48px;  text-align: center; line-height: 48px;}
#content_r  .t5{ width:20%;  float:left; height:48px;  text-align: center; line-height: 48px; }
#content_r  .t6{ width:6.8%;  float:left; height:48px;  text-align: center; line-height: 48px; }
#content_r input{background: none; }
#del{color: #da0000}
#update{color: #269dc9}

#content_r .but{  width:80%; height:27px; margin-left:1%; margin-top:20px; font-size:12px; line-height:27px; text-align:center; float: left;}
#footer{ width:100%; height:26px; float:left; background:#1b8a14;}
#footer li{ text-align:center; line-height:26px; font-size:0.75em;}
#footer li a{ color:#000;}
#footer li a:hover{ color:#F00;}
/*#page {*/
    /*height: 30px;*/
    /*display: table;*/
    /*margin-left: 55%;*/
    /*margin-top: 10px;*/
/*}*/
/*.page {*/
    /*text-align: center;*/
/*}*/
/*.fl {*/
    /*float: left;*/
/*}*/
/*.fr {*/
    /*float: right;*/
/*}*/
/*.pagingUl {*/
    /*float: right;*/
    /*padding: 0;*/
    /*margin: 0;*/
    /*list-style: none;*/
    /*height: 30px;*/
/*}*/
/*.pagingUl li {*/
    /*float: left;*/
    /*width: 30px;*/
    /*height: 30px;*/
    /*background: #fff;*/
    /*text-align: center;*/
    /*margin-right: 5px;*/
    /*border-radius: 5px*/
/*}*/
/*.pagingUl li a {*/
    /*display: inline-block;*/
    /*width: 30px;*/
    /*height: 30px;*/
    /*text-align: center;*/
    /*line-height: 28px;*/
    /*color: #666;*/
    /*font-size: 12px;*/
    /*border-radius: 5px*/
/*}*/
/*.prv,*/
/*.next {*/
    /*width: 30px;*/
    /*height: 30px;*/
    /*text-align: center;*/
    /*line-height: 30px;*/
    /*cursor: pointer;*/
    /*background: #fff;*/
    /*padding: 0 5px;*/
    /*border-radius: 5px;*/
/*}*/
/*.prv {*/
    /*margin-right: 10px;*/
/*}*/
/*.first,*/
/*.last {*/
    /*width: 30px;*/
    /*height: 30px;*/
    /*font-size: 12px;*/
    /*text-align: center;*/
    /*line-height: 30px;*/
    /*/!*border: 1px solid #ddd;*!/*/
    /*cursor: pointer;*/
    /*background: #fff;*/
    /*padding: 0 5px;*/
    /*border-radius: 5px;*/
    /*margin-right: 10px;*/
/*}*/
/*.prv:hover,*/
/*.next:hover,*/
/*.first:hover,*/
/*.last:hover,*/
/*.pagingUl li a:hover,*/
/*.activP {*/
    /*background-color: #4c9d5f!important;*/
    /*color: #fff!important;*/
/*}*/
#content_r #img{position: absolute; top: 100px; margin-left: 10%; background: #bee2f4; width: 70%; height: 700px;}
#content_r #img #imga{ width: 65%;margin-left: 3%;margin-top: 20px; height: 600px;}
#content_r #img input{margin-left: 45%; width: 10%; height: 30px; margin-top: 10px; border: 1px solid #bfbfbf; border-radius: 5px; }

