*{ list-style:none; text-decoration:none; padding:0; margin:0; border:none; font-size: 12px;}
a{ text-decoration: none;}
body{ background:#1c8914;}

#tit{ width:100%; height:93px; background:url(../img/tit.jpg) no-repeat; background-size:cover; border-bottom:7px #1bb11c solid;}
#tit p{ width:41%; height:93px; float:left; line-height:93px; font-size:2.1em; margin-left:3%;color:#006600; font-weight:bold;  font-family: '宋体';}
#tit ul{ width:28%; height:93px; float:left; margin-left:24%;}
#tit ul li{ width:91%; height:30px; margin-top:20px; line-height:30px; font-size:0.75em; color:#FFF; float:left; overflow:hidden;}
#tit ul li .three{ width:90%; margin-left:5%; height:32px;}
#tit ul li .three a{ width:23%; float:left; margin-top:0px; height:32px; line-height:32px; color:#FFF;}
#tit ul li .three a img{ margin-top:5px; float:left; max-width: 100%;}
#tit ul li .three a:hover{ color:#F00;}


#caidan{ width:15%; height:600px; background:#eaeaea; margin-top:3px; margin-left:0.5%; float:left;}
#caidan ul{ width:100%;}
#caidan ul .tit{ height:30px; background:url(../img/gl.jpg) no-repeat; font-size:0.8em; color:#FFF; line-height:30px;}
#caidan ul .tit img{ margin-left:4.6%; margin-top:9px; float:left; max-width: 100%;}

#caidan ul .cdq{ height:37px; width:100%; background:url(../img/cdq.jpg);}
#caidan ul .cdq img{ margin-left:2.9%; margin-top:9px; width:8.4%; float:left; max-width: 100%;}
#caidan ul .cdq a{ line-height:37px; width:63%; float:left; margin-left:4%; color:#5a5a5b; font-size:0.75em;}

#caidan ul .cd_4{ width:100%;}
#caidan ul .cd_4 ul li .a_1{ height:33px; background:url(../img/cdbg.jpg) no-repeat; display:block; margin-top:3px; font-size:0.75em; color:#FFF; line-height:33px; overflow:hidden;}
#caidan ul .cd_4 ul li .a_1 img{ margin-left:6.3%; margin-top:8px; float:left; max-width: 100%;}
#caidan ul .cd_4 ul li .zdgl{ width:100%; background:#FFF;}
#caidan ul .cd_4 ul li .zdgl .a_2{ width:100%; height:27px; font-size:12px; line-height:27px; display:block; margin-top:0px; color:#000; background:#eaeaea; overflow:hidden;}
#caidan ul .cd_4 ul li .zdgl .a_2:hover{ background:#d7dce2;}
#caidan ul .cd_4 ul li .zdgl .a_2 img{ margin-left:7%; margin-top:9px; float:left;}
#caidan ul .cd_4 .zdgl .ul .a_3{ width:100%; height:27px; background:#eaeaea; display:block;}


#content_r{ width:84%;  margin-left:16%; background:#eaeaea; height:600px;}
#content_r .tit{ width:100%; height:40px; border-bottom: 1px solid #cccccc;}
#content_r .tit .xx{ float:left; margin-top:8px; margin-left:1%; font-size:12px; height:20px; line-height:20px;}
#content_r .tit .xx img{ margin-top:0px; float:left;}
#content_r .gn{  width: 100%; height:45px;}
#content_r .gn form{ width: 99%; height: 45px;  padding-left:1%; border-bottom: 1px solid #cccccc; position: relative;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+47,ededed+100;White+3D+%231 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */}
#content_r .gn form .span1{width: 11%; font-size: 12px; color: #595959;margin-top:10px; margin-left: 1%;
}
#content_r .gn form input{width: 10%; height: 20px; border: 1px solid #bfbfbf;margin-top:10px; border-radius: 5px;}
#content_r .gn form select{
   width: 10% !important ;  border: 1px solid #cccccc; height: 20px; border-radius: 3px; margin-top:10px;
}
#content_r .gn form .search{width: 6%; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
background: rgb(238,238,238); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
  text-align: center; 
  position: absolute;
  top: 0px;
  left: 83%;
 height: 30px;

}
#content_r .gn form .reset{width: 8%; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
background: rgb(238,238,238); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
 text-align: center;
height: 30px;
position: absolute;
top: 0px;
  left: 90%;
}
#content_r .gn form .search:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#content_r .gn form .reset:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#content_r .gn span select{width: 25% !important ; margin-right: 1%; border: 1px solid #bfbfbf; height: 40px;}
#content_r #bg{margin-left: 3%; margin-top: 10px;background: url("../img/bg3.jpg") repeat-x;border: 1px solid #bfbfbf;width: 90%;}
#content_r .input1{background: none; color:#269dc9; }
#content_r .input2{background: none; color:#da0000; }
#content_r table{margin-left: 2%; width: 98%; font-size: 0.75em;}
#content_r table thead tr{
    color:#707d83;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f5f6+0,e3eaed+37,c8d7dc+100;Grey+3D+%234 */
background: rgb(242,245,246); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(242,245,246,1) 0%, rgba(227,234,237,1) 37%, rgba(200,215,220,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* IE6-9 */
}
#content_r table tr{color:#707d83;height: 30px;text-align: center;}
#content_r table tr td{
     border-collapse: separate; 
     border: 1px solid #ffffff;
}
#content_r table .t2{width: 13%;}
#content_r table .t3{width: 13%;}
#content_r table .t4{width: 11%;}
#content_r table .t5{width: 13%;}
#content_r table .t6{width: 10%;}
#content_r table .t7{width: 10%;}
#content_r table .t8{width: 10%;}
#content_r table .t9{width: 10%;}
#content_r h5{
    margin-left: 2%;
    margin-top: 20px;
    margin-bottom: 10px;
    color:#707d83;
}
#bg {
    margin-top:10px;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:5px;
    border: none;
    border-collapse:collapse;
    font: 12px  "宋体";
}


#chakan{width: 70%; margin-left: 3%;float: left; display: none; height: 400px;}
#content_r #bg1{margin-left: 15%; margin-top: 7px;background: url("../img/bg3.jpg") repeat-x;border: 1px solid #bfbfbf;width: 100%; border-right:1px #b9b9b9 solid; box-shadow: 10px 10px 5px #888888; height: 400px;}
#chakan .s1{height: 30px; width: 30%; text-align: center;  color:#383838; border-bottom: 1px solid #bfbfbf;}
#chakan .s2{height: 30px; width: 70%; text-align: center; border-bottom: 1px solid #bfbfbf;}

#chakan form{margin-left: 35%;float: left;  width: 100%;}
#chakan form input{background: #FFFFFF; border:1px solid #bfbfbf; border-radius: 4px; width:10%;height: 44px; margin-left: 25%;}


#bg {
	 margin-top:10px;  
        margin-left:20px;  
        margin-right:20px;  
        margin-bottom:5px;   
        background:#EEF4F9;  
        border: none;   
        border-collapse:collapse;  
        font: 14px  "宋体"; 
}
#bg thead tr{
		background:#7CB8E2;  
        color:#fff;   
        text-align:center; 
}
#bg1{
	border: none;   
    border-collapse:collapse; 
}
#bg1 tr{ 
        color:#9c9a9a;   
        text-align:center; 
}
#bg1 {
    margin-top:10px;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:5px;
    background: #F8F8F8;
    border: none;
    border-collapse:collapse;
    font: 14px  "宋体";
}
#bg1  tr{
    background: #F8F8F8;
    color:#fff;
    text-align:center;
}
#bg1 tr td{
    background: #F8F8F8 none repeat-x scroll center left;
    color:#000;
}
#xiugai{ width: 80%; 
        margin-left: 8%;
        height: 440px;
background: rgb(248,248,248); 
box-shadow: 10px 0 10px -10px rgba(0,0,0,.6),-10px 0  10px -10px rgba(0,0,0,.6);
border-radius: 8px;
}
#xiugai h5{
    height: 20px;
    line-height: 20px;
    padding-top: 10px;
    width: 100%;
    text-align: center;
    font-size: 12px;
}
#xiugai span{margin-left: 15%; font-size: 12px;}
#xiugai input{margin-left: 1%;width: 40%; height: 20px;  border: 1px solid #bfbfbf; margin-top: 5px; border-radius: 4px;}
#xiugai .lxfs{width: 40%; margin-right: 0; font-size: 12px;}
#xiugai textarea{width: 50%; height: 80px; border: 1px solid #bfbfbf;resize: none;margin-left:25%;}
#xiugai select{width: 15%;height: 20px; border: 1px solid #bfbfbf; margin-left: 2.5%; margin-top: 5px;font-size: 12px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}

#xiugai .gn{width: 3%; height: 15px; margin-left: 0; margin-right: 0; margin-top: 5px; font-size: 12px;}
#xiugai .xg{width: 80px; height: 25px; line-height: 20px; margin-left: 48%; background:#ffffff; font-size: 12px;}
#nature{width: 100%; height: 60px; !important; display: block;}
#tianjia{ width: 80%; background: #e4ecef; height: 450px; padding-top: 10px; border: 1px solid #cccccc; border-radius: 8px; margin-left: 5%;}
#tianjia form{
    background: #fffffd;
    width: 90%;
    margin-left:5%;
    padding-bottom: 10px;
    padding-top:10px;
    border: 6px solid #ecf5f4; 
    outline: solid 1px #ccd6d8;
    border-radius: 8px;
    font-size: 12px;
}
#tianjia span{margin-left: 10%;margin-top: 5px; }
#tianjia input{margin-left: 1%;width: 30%; height: 20px;  border: 1px solid #bfbfbf; margin-top: 5px; border-radius: 4px;}
#tianjia .lxfs{width: 40%; margin-right: 0;}
#tianjia textarea{width: 50%; height: 80px; border: 1px solid #bfbfbf; margin-top: 5px; resize: none; margin-left:26%;}
#tianjia select{width: 15%;height: 20px; border: 1px solid #bfbfbf; margin-left: 2.5%; margin-top: 5px;}
#tianjia .gn{width: 3%; height: 15px; margin-left: 0; margin-right: 0; margin-top: 5px;}
#tianjia .tj{width: 80px; height: 40px; line-height: 40px; margin-left: 50%; background: #ffffff; border-radius: 4px; }
#ts{
    width: 30%;height: 30%;
}
#peizhi{
    width: 60%;margin-left: 16%;
    border: 1px solid #bfbfbf;
    height: 450px;
    border-radius: 8px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfff4+0,e9e9ce+100;Wax+3D+%232 */
background: rgb(252,255,244); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(252,255,244,1) 0%, rgba(233,233,206,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#e9e9ce',GradientType=0 ); /* IE6-9 */
box-shadow:inset 0 0 10px #000000;
margin-bottom: 20px;
margin-top: 10px;
}
#peizhi h5{
    height: 20px;
    line-height: 20px;
    padding-top: 10px;
    width: 100%;
    text-align: center;
    font-size: 12px;
}
#peizhi span{margin-left: 20%;margin-top: 15px; }
#peizhi input{margin-left: 1%;width: 40%; height: 30px;  border: 1px solid #bfbfbf; margin-top: 15px; border-radius: 4px;}
#peizhi .pz{width: 80px; height: 40px; line-height: 40px; margin-left: 35%; background:#ffffff; border-radius: 4px; float: left;}
#peizhi .pz1{
    float: left;
    margin-left: 10%;
}
#footer{ width:100%; height:26px; float:left; background:#1b8a14; margin-top: 3px;}
#footer li{ text-align:center; line-height:26px; font-size:0.75em;}
#footer li a{ color:#000;}
#footer li a:hover{ color:#F00;}
#page {
    height: 30px;
    display: table;
    margin-left: 55%;
    margin-top: 10px;
}
.page {
    text-align: center;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.pagingUl {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    height: 30px;
}
.pagingUl li {
    float: left;
    width: 30px;
    height: 30px;
    background: #fff;
    text-align: center;
    margin-right: 5px;
    border-radius: 5px
}
.pagingUl li a {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 28px;
    color: #666;
    font-size: 12px;
    border-radius: 5px
}
.prv,
.next {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    background: #fff;
    padding: 0 5px;
    border-radius: 5px;
}
.prv {
    margin-right: 10px;
}
.first,
.last {
    width: 30px;
    height: 30px;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    /*border: 1px solid #ddd;*/
    cursor: pointer;
    background: #fff;
    padding: 0 5px;
    border-radius: 5px;
    margin-right: 10px;
}
.prv:hover,
.next:hover,
.first:hover,
.last:hover,
.pagingUl li a:hover,
.activP {
    background-color: #d7dce2!important;
    
}
